.Card {
    position: absolute;
    margin: 20px;
    padding: 10px 30px;
    background: rgba(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 8px 32px 0 rgba(148, 148, 148, 0.37);
    width: 35%;
    max-height: 200px;
    overflow-y: hidden;
    bottom: 1%;
    left: 0;
    display: grid;
    grid-template-columns: auto 80px;
    transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.Card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    transform: translateY(-3px);
    max-height: 400px;
}

.Vote {
    width: 90%;
    height: 5px;
    background-color: rgb(255, 59, 48);
    position: absolute;
    top: 5%;
    left: 5%;
    border-radius: 20px;
}

.Description {
    margin-bottom: 40px;
}

.Details h2 {
    margin-bottom: 10px;
}

.Badge {
    margin-right: 20px;
    padding: 5px 25px;
    border-radius: 15px;
    width: fit-content;
    color: #fff;
    background: #3376f2;
    font-weight: 500;
    box-shadow: 0 8px 32px 0 rgba(148, 148, 148, 0.37);
}

.Red {
    background: #e74c3c;
}

.Green {
    background: #2ecc71;
}

.Vote .Up {
    width: 200px;
    height: 5px;
    background-color: rgb(52, 199, 89);
    border-radius: 20px;
}

.RightColumn {
    display: grid;
    grid-template-rows: 45% 55%;
}

.Icon {
    background-color: rgb(4, 99, 201);
    width: 64px;
    height: 64px;
    border-radius: 15px;
    position: relative;
    margin: auto 0;
}

.Icon svg {
    width: 48px;
    height: 28px;
    position: absolute;
    bottom: 18px;
    left: 8px;
}

.Icon svg path {
    fill: white;
}

.Details {
    padding: 10px 20px;
}
