.Card {
    position: absolute;
    margin: 20px;
    padding: 10px 30px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0 8px 32px 0 rgba(148, 148, 148, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    min-height: 14%;
    width: 25%;
    bottom: 1%;
    right: 0;
    display: flex;
}

.Vote {
    width: 90%;
    height: 5px;
    background-color: rgb(255, 59, 48);
    position: absolute;
    top: 5%;
    left: 5%;
    border-radius: 20px;
}

.Description {
    margin-bottom: 40px;
}

.Details h2 {
    margin-bottom: 10px;
}

.Badge {
    margin-right: 20px;
    padding: 5px;
    border-radius: 5px;
    width: fit-content;
    color: #fff;
    background: #d35400;
    font-weight: 500;
    box-shadow: 0 8px 32px 0 rgba(148, 148, 148, 0.37);
}

.Red {
    background: #e74c3c;
}

.Green {
    background: #2ecc71;
}

.Vote .Up {
    width: 200px;
    height: 5px;
    background-color: rgb(52, 199, 89);
    border-radius: 20px;
}

.Icon {
    background-color: rgb(4, 99, 201);
    min-width: 64px;
    min-height: 64px;
    border-radius: 18px;
    position: relative;
    margin: auto 0;
}

.Icon svg {
    width: 48px;
    height: 28px;
    position: absolute;
    bottom: 18px;
    left: 8px;
}

.Icon svg path {
    fill: white;
}

.Details {
    padding: 10px 20px;
}

.Delete {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, 0);
}

.Delete button {
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background: #e74c3c;
    font-weight: 900;
    box-shadow: 0 8px 32px 0 rgba(148, 148, 148, 0.37);
}
