.SideBar {
    position: absolute;
    padding: 30px;
    background: rgba(255, 255, 255, 0.95);
    border: 1px solid rgba(255, 255, 255, 0.18);
    height: 100vh;
    z-index: 100;
    overflow-y: scroll;
    min-width: 350px;
    max-width: 25%;
    height: 100vh;
    right: 0;
}

.SideBar a:hover {
    color: #3376f2;
}

.SideBar::-webkit-scrollbar {
    display: none;
}

.SideBar h5 {
    color: #95a5a6;
}

.TitleBar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding-bottom: 10px;
}

.TitleBar button {
    background: none;
    border: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.TitleBar button svg path {
    fill: rgb(0, 0, 0, 0.4);
}

.TitleBar button:hover svg path {
    fill: rgb(0, 0, 0, 0.8);
}

.TitleBar button svg {
    width: 20px;
    height: 20px;
}

.TitleBar a svg {
    width: 25px;
    height: 25px;
    padding-top: 5px;
}

.TitleBar a svg path {
    fill: rgb(0, 0, 0, 0.4);
}

.TitleBar a:hover svg path {
    fill: rgb(0, 0, 0, 0.8);
}

.SideBar hr {
    border-top: 1px rgb(0, 0, 0, 0.4);
}

.Filter {
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5%;
}

.TimeButtonSelected {
    box-shadow: 0 8px 32px 0 rgba(148, 148, 148, 0.37);
    padding: 8px 20px;
    font-size: 20px;
    background: #3376f2;
    color: white;
    border: none;
    font-weight: 700;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.TimeButtonSelected:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    transform: translateY(-3px);
}

.TimeButton {
    box-shadow: 0 8px 32px 0 rgba(148, 148, 148, 0.37);
    padding: 8px 20px;
    font-size: 20px;
    background: white;
    border: none;
    font-weight: 700;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.TimeButton:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    transform: translateY(-3px);
}

.Map {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.Marker {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 100%;
    box-shadow: 0 0 0 8pt rgb(255, 59, 48, 0.2);
    background-color: rgb(255, 59, 48);
    animation: scaleIn 4s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
}

@keyframes scaleIn {
    from {
        transform: scale(0.5, 0.5);
        opacity: 1;
    }
    to {
        transform: scale(2, 2);
        opacity: 0;
    }
}

.Statistics {
    display: grid;
    margin-top: 1em;
    row-gap: 1em;
    padding-bottom: 20vh;
}
