.LoginSection {
    position: absolute;
    margin: 20px;
    padding: 10px 30px;
    background: rgba(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0 8px 32px 0 rgba(148, 148, 148, 0.37);
    height: 35%;
    z-index: 100;
    overflow-y: auto;
    max-width: 350px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 20%;
    margin: auto;
}

.LoginForm {
    margin: 30px auto;
    border-radius: 15px;
    padding: 0 20px;
}

.LoginCentreContainer {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    margin: 1em 0;
    justify-items: center;
}

.LoginInput {
    width: 90%;
    box-shadow: 0 4px 16px 0 rgba(148, 148, 148, 0.37);
    padding: 12px 20px;
    font-size: 18px;
    color: #95a5a6;
    background: white;
    border: none;
    font-weight: 700;
    border-radius: 10px;
    outline: none;
}

.LoginButton {
    margin-top: 20px;
    width: 50%;
    box-shadow: 0 8px 32px 0 rgba(148, 148, 148, 0.37);
    padding: 8px 20px;
    font-size: 20px;
    color: white;
    background: #65c466;
    border: none;
    font-weight: 700;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    transition: 1s cubic-bezier(0.2, 0.8, 0.2, 1);
}

.LoginButton:hover {
    background-color: white;
    color: #65c466;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    transform: translateY(-3px);
}

.LoginForm h2 {
    color: rgba(0, 0, 0, 0.8);
    margin-bottom: 5px;
    font-size: 40px;
    line-height: 1.2;
}

.LoginForm h5 {
    margin-top: 1em;
    margin-bottom: 2em;
    color: #95a5a6;
}
