.Report {
    width: 350px;
    height: 400px;
    margin: 20px auto;
    background: #fefefe;
    box-shadow: 0 8px 32px 0 rgba(148, 148, 148, 0.15);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 0 20px;
    position: relative;
}

h2 {
    color: black;
    margin-bottom: 5px;
}

h5 {
    margin-top: 0;
    color: #aeaeae;
}

input {
    width: 90%;
    padding: 1em;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    color: black;
    background: #ededee;
    font-weight: 900;
}

.PostButton {
    background: #65c466;
    font-weight: bold;
    color: #fff;
    margin: 5px auto;
    width: 50%;
    border: none;
    border-radius: 10px;
    padding: 1em;
    font-weight: 900;
    position: absolute;
    left: 25%;
}
