.StatisticCard {
    width: 70%;
    height: 200px;
    background: #fefefe;
    box-shadow: 0 8px 32px 0 rgba(148, 148, 148, 0.15);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 0 20px;
    position: relative;
}

.StatisticCard h1 {
    color: #3376f2;
    font-size: 7em;
    position: absolute;
    margin: auto;
    text-align: center;
}

.StatisticCard p {
    color: #aeaeae;
    position: absolute;
    bottom: 0;
}
